.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 10px;
}

.header {
  margin-bottom: 40px;
}

.main {
  width: 100%;
}

.footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-light-color);
  font-size: 14px;
}

.logo {
  font-family: "PT Serif";
  font-size: 36px;
  letter-spacing: -0.045em;
  margin-bottom: 20px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.text {
  font-size: 18px;
  line-height: 27px;
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 120px;
    padding-top: 80px;
  }
  
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
  }
}